@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

.accordion-button{
    background-color: #ffffff !important;
    box-shadow: none!important;
}


.hide-scrollbar::-webkit-scrollbar {
    display: none!important;
}


.hide-scrollbar {
    -ms-overflow-style: none!important;
    scrollbar-width: none!important;
}

.small-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.small-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.small-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.small-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
}
